@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
:root {
  --main-color: white;
  --pr-color-tr: hsla(0, 0%, 100%, 0.75);
  --state-color-tr: hsla(0, 0%, 100%, 0.6);
  --main-background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --accent-color-tr: hsla(277, 100%, 50%, 0.431);
  --font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: var(--main-background-color);
  .card {
    position: relative;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    border-radius: 4px;
    width: 1000px;
    background-color: var(--card-background-color);
    font-family: "Inter";
    border-radius: 8px;
    overflow: hidden;
    .card-l-section {
      position: relative;
      padding: 4rem 3.5rem;
      display: flex;
      flex-direction: column;
      width: calc(50% - 7rem);
      color: var(--main-color);
      .card-info {
        h1 {
          font-size: 2.2rem;
          margin-top: 0;
          b {
            color: var(--accent-color);
          }
        }
        p {
          color: var(--pr-color-tr);
          font-size: 15px;
          line-height: 25px;
        }
      }
      .card-stats {
        display: flex;
        align-items: center;
        gap: 3rem;

        .card-st {
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
          }
          span {
            font-family: "Lexend Deca", sans-serif;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: var(--state-color-tr);
            font-weight: lighter;
          }
        }
      }
    }
    .card-r-img-section {
      position: relative;
      background-image: url(../images/image-header-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 50%;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--accent-color-tr);
      }
    }
  }
}
@media (max-width: 1000px) {
  body {
    .card {
      width: 768px;
      .card-l-section {
        padding: 3rem 2.5rem;
        width: calc(50% - 5rem) !important;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .card {
         left: 0%;
    top: 0%;
    transform: translate(0,0);
    margin: 2rem 1rem;
        flex-direction: column-reverse;
        width: calc(100% - 2rem);
        .card-l-section {
            width: calc(100% - 2rem) !important;
            padding: 2rem 1rem;
            .card-info {
                H1 {
                    text-align: center;
                    font-size: 1.8rem;
                }
                p {
                    text-align: center;
                }
            }
            .card-stats {
                flex-direction: column;
                .card-st {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
        .card-r-img-section {
            height: 20rem;
            width: 100% !important;
        }
        
    }
  }
}

